<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>설문앱메인</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<section class="main">
	  <div class="profile-card">
	    <div class="image">
	      <!--<img src="images/profile.jpg" alt="" class="profile-pic">-->
	    </div>
	    <div class="data">
	      <h2 style="font-size: 38px; font-weight: 600; line-height: 2;">한국 청소년 활동 진흥원</h2>
	      <span style="font-size: 13px; line-height: 2;">청소년을 대상으로 3대 역량(비판적 사고, 의사소통, 창의력)에 대한 설문 입니다.</span>
	    </div>
	    <div class="buttons" style="display: flex; align-items: center;">
	      <a href="/select" class="btn">시작하기</a>
	    </div>
	  </div>
	</section>
</body>
</html>