<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>설문조사시작</title>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<section class="main">
        <div class="profile-card">
			<form id="startForm" th:action="@{/select}" th:object="${requestDto}" method="post">
            <div class="user_info" style="text-align: center;">
                <h2 style="font-size: 50px; font-weight: 200; padding-top: 100px;">성별을 선택해주세요</h2>
                <div class="button-group" style="margin-top: 10px;">
                    <button id="maleButton" type="button" class="btn btn-light" onclick="toggleButton('maleButton')">남자</button>
                    <button id="femaleButton" type="button" class="btn btn-light" onclick="toggleButton('femaleButton')">여자</button>
                    <input type="hidden" id="hidden_gender" th:field="*{gender}" value="">
                </div>
            </div>
            <div class="user_age" style="margin-top: 50px;  text-align: center;">
                <h2 style="font-size: 50px; font-weight: 200;">나이를 입력해주세요</h2>
                 <div class="input-group" style="width: 200px; margin: 0 auto; margin-top: 20px;">
				    <input type="text" id="ageInput" class="form-control" placeholder="나이 (세)" aria-label="나이"
				           aria-describedby="inputGroup-sizing-lg" th:field="*{age}" style="font-size: 30px; box-sizing: border-box;">
				</div>
            </div>
            
            <div class="buttons" style="margin-top: 50px;">
   				 <button type="button" class="btn-custom" onclick="checkInputs()">설문시작</button>
            </div>
		</form>
	    </div>
	</section>
	
	  <!-- Bootstrap 스크립트 추가 -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	
	<script>
	 var selectedButtonId = null;

	function toggleButton(clickedButtonId) {
	    // 선택된 버튼에 토글 클래스 적용
	    document.getElementById(clickedButtonId).classList.toggle('btn-info');
	
	    // 이전에 선택된 버튼의 토글 클래스 제거
	    if (selectedButtonId && selectedButtonId !== clickedButtonId) {
	        document.getElementById(selectedButtonId).classList.remove('btn-info');
	    }
	
	    // 현재 선택된 버튼을 저장
	    selectedButtonId = clickedButtonId;
	    	    
	    let gender = document.getElementById("hidden_gender");
	    
	    if(selectedButtonId === 'maleButton'){
			gender.value = "1";
		} else {
			gender.value = "2";
		}
	}



	  function checkInputs() {
	    // 성별과 나이 입력 여부 확인
	    var maleButton = document.getElementById('maleButton');
	    var femaleButton = document.getElementById('femaleButton');
	    var ageInput = document.getElementById('ageInput').value;
	
	    if (!(maleButton.classList.contains('btn-info') || femaleButton.classList.contains('btn-info'))) {
	      alert('성별을 선택해주세요.');
	    } else if (!ageInput || isNaN(ageInput)) {
	      alert('나이를 올바르게 입력해주세요.');
	    } else {
	      document.getElementById('startForm').submit();
	    }
	  }
</script>

	</body>
</html>