@font-face {
    font-family: 'NelnaLizzyChae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/NelnaLizzyChae.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'NelnaLizzyChae';
}

.main{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(img/back.jpg);
  background-position: center;
  background-size: cover;
}
.profile-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 650px;
  height: 800px;
  width: 100%;
  border-radius: 25px;
  padding: 30px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);
  background-color:  rgba(255,250,240,0.9);
  border: 10px solid burlywood;
  overflow-y: auto; /* 내용이 넘칠 경우 수직 스크롤바를 표시합니다. */
}

 /* 스크롤바*/
.profile-card::-webkit-scrollbar {
    width: 10px; /* 스크롤바 너비 설정 */
}

.profile-card::-webkit-scrollbar-thumb {
    background-color: chocolate; /* 스크롤바 색상 설정 */
    border-radius: 25px; /* 스크롤바 모서리를 둥글게 만듭니다. */
    height: 50%; /* 스크롤바의 길이 */
}

.profile-card::-webkit-scrollbar-track {
    background-color: burlywood; /* 스크롤바 트랙 색상 설정 */
    border-radius:25px; /* 스크롤바 트랙의 모서리를 둥글게 만듭니다. */
}

.data{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  height: 50%; /* 부모 요소의 전체 높이를 차지하도록 설정 */
  white-space: nowrap;
}
.row{
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.row .info{
  text-align: center;
  padding: 0 20px;
}
.buttons{
  display: flex;
  justify-content: center; /* 가로 중앙에 정렬 */
  align-items: center; /* 가로 - 중앙으로 */
  text-align: center; /* 버튼 가로 중앙에 정렬 */
  }
.buttons .btn{
	background-image: url("/img/chbutton.png");
    background-repeat: no-repeat;
    background-position: left; /* 이미지를 버튼의 왼쪽 중앙에 위치 */
    padding: 8px 20px 8px 60px; /* 위쪽,(텍스트와 버튼 여백간격), 아래쪽,(이미지,텍스트사이 간격), */
    border: 3px solid chocolate;
    border-radius: 25px;
    color:black;
    font-size: 40px;
    white-space: nowrap;
    background-size: auto 100%; /* 이미지 크기를 버튼에 맞추기 */
    background-clip: padding-box; /* 배경 이미지가 패딩 상자 내에만 나타나도록 설정 */
    text-decoration: none; /* 텍스트의 밑줄 제거 */
}

.buttons .btn:hover{
  box-shadow: inset 0 5px 20px gold;
}






.user_info .button-group button {
  text-align: center;
  border-radius: 25px;
  font-size: 30px;
  border-style: solid;
  border-width:3px;
  border-color: chocolate;
  margin-right: 10px; /* 오른쪽에 10px의 간격 추가 */

}


/***** INPUT *****/
.user_age .input-group .form-control,
.user_age .input-group .input-group-text {
  border: 3px solid chocolate;
  border-radius: 25px;
  text-align: center;
}

#ageInput.form-control {
    border-radius: 25px !important;
}

.user_age .input-group .form-control:focus {
  outline: none;
}

.user_age .input-group .form-control::placeholder {
  font-weight: 300;
  color: #aaa;
}

.user_age .input-group label {
  float: left;
  display: none;
}


/* select 페이지 버튼 */
.buttons .btn-custom {
	background-image: url("/img/chbutton.png");
    background-repeat: no-repeat;
    background-position: left; /* 이미지를 버튼의 왼쪽 중앙에 위치 */
    padding: 5px 20px 5px 70px; /* 위쪽,(텍스트와 버튼 여백간격), 아래쪽,(이미지,텍스트사이 간격), */
    border: 3px solid chocolate;
    border-radius: 25px;
    color:black;
    font-size: 40px;
    white-space: nowrap;
    background-size: auto 100%; /* 이미지 크기를 버튼에 맞추기 */
    background-clip: padding-box; /* 배경 이미지가 패딩 상자 내에만 나타나도록 설정 */
    text-decoration: none; /* 텍스트의 밑줄 제거 */
    background-color: transparent; /* 배경 색을 투명하게 설정 */
}

.buttons .btn-custom:hover{
  box-shadow: inset 0 5px 20px gold;
}


body{
	background-image: url('img/chi.jpg');
	background-repeat: no-repeat;
	background-size: cover;

}

#back{    
	position: fixed;    
    z-index: 5;    
    background-color: rgba(0, 0, 0, 0.3);    
    display: none;    
    left: 0;    
    top: 0;    
    width: 30%;    
    height: 30%;    
    overflow: hidden; /* 스크롤바가 나타나지 않도록 */  
}   
#loadingBar{    
	position: fixed;    
    top: 50%;    
    left: 50%;    
    transform: translate(-50%, -50%);    
    padding: 20px;    
    background-color: white;    
    display: none;    
    z-index: 200;    
 }

#loadingBar img {
    width: 500px;
    height: auto;
}



/* survey 페이지 */

h5 {
	color: rgb(79, 52, 36);    
    font-size: 1.5rem;
    font-weight: 100;
}

.answer input[type="radio"]  {
    width: 12px;
    height: 12px;
    margin-right: 10px; /* 각 라디오 버튼 사이의 간격 조정 */
}

.answer {
  margin-top: 5px;
  font-size: 1.4rem; /* 원하는 폰트 크기로 조정 */
  color: chocolate;
}


.buttons .survey-btn {
	background-image: url("/img/chbutton.png");
    background-repeat: no-repeat;
    background-position: left; /* 이미지를 버튼의 왼쪽 중앙에 위치 */
    padding: 8px 20px 8px 60px; /* 위쪽,(텍스트와 버튼 여백간격), 아래쪽,(이미지,텍스트사이 간격), */
    border: 3px solid chocolate;
    border-radius: 25px;
    color:black;
    font-size: 40px;
    white-space: nowrap;
    background-size: auto 100%; /* 이미지 크기를 버튼에 맞추기 */
    background-clip: padding-box; /* 배경 이미지가 패딩 상자 내에만 나타나도록 설정 */
    text-decoration: none; /* 텍스트의 밑줄 제거 */
    background-color: transparent; /* 배경 색을 투명하게 설정 */
}

.buttons .survey-btn:hover{
  box-shadow: inset 0 5px 20px gold;
}



@media (max-width: 768px) {
  .profile-card {
    height: 90%; /* 변경된 부분: 화면 크기가 작을 때 높이를 더 적게 설정 */
  }

  .buttons {
    margin-top: 10px; /* 변경된 부분: 버튼들 간의 간격 조정 */
  }
  
   .chatbot {
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }
  .chatbot .chatbox {
    height: 90%;
    padding: 25px 15px 100px;
  }
    .chatbot .chat-input {
    padding: 5px 15px;
  }
  .chatbot header span {
    display: block;
  }

}