<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>설문페이지</title>
	<link rel="stylesheet" th:href="@{/style.css}" />
  	<script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/loading.js}"></script>
</head>

<body>
  <section class="main">
    <div class="profile-card">
			<div th:action="@{|/survey/${page}|}" method="post">
		    <div class="questionList">
	 			<!-- questionList를 순회하며 각 질문을 출력 -->
                <th:block th:each="question : ${questionList}">
					<h5 style="position: relative;">
					    <img src="../img/gogumai.png" alt="" style="vertical-align: middle; width: 50px;">
					    <span th:text="${question.questionId}" style="position: absolute; top: 12px; left: 17px;"></span>
					    <span class="border-bottom" th:text="${question.question}" style="display: inline;"></span>
					</h5>
                     <div class="answer" style="margin-top:10px;">
                         <!-- 답변 입력 폼 -->
                         <input type="radio" th:name="'answers[' + ${question.questionId} + ']'" th:value="1" class="r1"> 전혀 그렇지 않다 &nbsp;
                         <input type="radio" th:name="'answers[' + ${question.questionId} + ']'" th:value="2" class="r1"> 그렇지 않다 &nbsp;
                         <input type="radio" th:name="'answers[' + ${question.questionId} + ']'" th:value="3" class="r1"> 보통이다 &nbsp;
                         <input type="radio" th:name="'answers[' + ${question.questionId} + ']'" th:value="4" class="r1"> 그렇다 &nbsp;
                         <input type="radio" th:name="'answers[' + ${question.questionId} + ']'" th:value="5" class="r1"> 매우 그렇다 &nbsp;
                     </div> <br>
                     <br>
                </th:block>
            </div>
            <br>
            <div class="buttons">
   				<button type="submit" id="submitBtn" class="survey-btn">다음</button>
			</div>
		</form>
     </div>
     <div id="loadingBar">
        <img src="/img/loading.gif">
       </div>
  </section>

	      
 
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	    
	$(document).ready(function() {
	    $('#surveyForm').submit(function() {
	        $('#loadingBar').show(); // 폼이 서브밋될 때 로딩 바를 표시합니다.
	    });
	});

</script>
</body>
</html>