<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>설문페이지</title>
	<link rel="stylesheet" href="style.css">
	<!-- Google Fonts Link For Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
    <style type="text/css">
        .question{margin-top: 20px; text-align: center; font-size: 0.9rem; color: black;} 
        input[type="radio"]{width: 12px; height: 12px;}
     	.pagination{position: fixed; bottom: 40px; left: 50%; transform: translateX(-50%);}
     	.pagination a {margin-right: 10px;}
     	.disabled {pointer-events: none; color: #aaa;} /* 비활성화된 상태의 스타일 */
    </style>
</head>

<body>
  <section class="main">
    <div class="profile-card">
		<form th:action="@{/survey}" method="post" id="surveForm">
		    <div class="questionList">
	 			<!-- questionList를 순회하며 각 질문을 출력 -->
                <th:block th:each="question : ${questionList}">
                	 <div th:if="${question.questionId} < 7">
                     <h5 th:text="${question.questionId}" style="display: inline;"></h5>
                     <h4 th:text="${question.question}" style="display: inline;"></h4>
                     <div class="answer" style="margin-top:10px;">
                         <!-- 답변 입력 폼 -->
                         <input type="radio" th:name="${question.questionId}" th:value="1" class="r1"> 전혀 그렇지 않다 &nbsp;
                         <input type="radio" th:name="${question.questionId}" th:value="2" class="r1"> 그렇지 않다 &nbsp;
                         <input type="radio" th:name="${question.questionId}" th:value="3" class="r1"> 보통이다 &nbsp;
                         <input type="radio" th:name="${question.questionId}" th:value="4" class="r1"> 그렇다 &nbsp;
                         <input type="radio" th:name="${question.questionId}" th:value="5" class="r1"> 매우 그렇다 &nbsp;
                     </div> <br><br>
                     </div>
                </th:block>
            </div>
            <br>
            <input type="submit" id="submitBtn">
		</form>
     </div>
     <div id="loadingBar">
        <img src="/img/loading.gif"> 
       </div>
  </section>

	      
 
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	function showLoadingBar() {
	    document.getElementById('surveyForm').style.display = 'none'; // 질문과 응답 내용 숨김
	    document.getElementById('loadingBar').style.display = 'block'; // 로딩 바 표시
	}

    function hideLoadingBar() {
        document.getElementById('surveyForm').style.display = 'block'; // 질문과 응답 내용 표시
        document.getElementById('loadingBar').style.display = 'none'; // 로딩 바 숨김
    }
    
	 // 로딩 바 표시
    showLoadingBar();

    $(document).ready(function() {
        $("#surveyForm").submit(function(event) {
            event.preventDefault(); // 기본 제출 동작 방지
            // 선택된 답변 값을 가져옴
            var selectedAnswers = {};
            $("input[type=radio]:checked").each(function() {
                selectedAnswers[$(this).attr("name")] = $(this).val();
            });
            // Ajax 요청을 통해 선택된 답변을 서버에 전송
            $.ajax({
                type: "POST",
                url: "/submitAnswers", // 답변을 저장할 엔드포인트 URL
                contentType: "application/json",
                data: JSON.stringify(selectedAnswers), // 선택된 답변 데이터를 전송
                success: function(response) {
                    // 성공적으로 서버에 답변을 저장한 경우, 다음 질문 세트를 가져옴
                    $.ajax({
                        type: "GET",
                        url: "/nextQuestionSet", // 다음 질문 세트를 가져올 엔드포인트 URL
                        success: function(nextQuestionSet) {
                            // 다음 질문 세트를 페이지에 추가
                            $(".questionList").html(nextQuestionSet);
                         	// 로딩 바 숨김
                            hideLoadingBar();
                        }
                    });
                }
            });
        });
    });
</script>
</body>
</html>