html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    background-color: #343a40;
}

.row-2 {
    height: 17%;
}

.row-3 {
    height: 80%;
}


@media (max-width: 1440px) {
    .main-card-top-1 {
        min-height: 200px; /* 화면이 작을 때 높이 조정 */
    }
}


/* 반응형 미디어 쿼리 */
@media (max-width: 768px) {
    .main-card-top-2, .main-card-bottom-3, .main-card-bottom-4 {
        width: 100%;
    }

    .btn-group .btn {
        width: auto;
        padding: 10px;
    }

    .carousel-item, .carousel-card {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .chart-container-top {
        height: auto;
    }

    .main-card-top-1 {
        min-height: 200px; /* 태블릿과 모바일에서는 높이를 줄임 */
    }
}


/*///////////////////////////////////////////////////*/
/*/////////////login_form, signup_form///////////////*/
/*///////////////////////////////////////////////////*/



/*로그인, 회원가입 input*/
.form-control-custom {
    background-color: #ffffff;
    border-color: white;
    border-radius: 0;
    flex: 1;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #222;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
.form-control-custom:focus {
    outline: none;
    border-color: rgba(255,60,0);
}

/*회원가입 버튼*/
.signup-button-div {
    text-align: center;
    margin-top: 20px;
}

.signup-button-a {
    text-decoration: none;
}

.signup-button-p {
    color: lightgray;
    font-size: 0.9em;
    display: inline-block;
}

.signup-p:hover {
    text-decoration: none;
}

/*제출 버튼*/
.btn.btn-primary {
    border-color: rgb(255, 141, 110);
    background-color: rgb(255, 141, 110);
}

.btn.btn-primary:hover {
    border-color: rgb(255, 141, 110);
    background-color: rgb(255, 141, 110);
}


/*로그인, 회원가입 카드*/
.card.border-dark.text-secondary {
    background-color:#ecebeb;
    margin-top:90px;
    padding: 20px 20px;
    border-radius: 0;
}

/*//////////////////////////////////////*/
/*/////////////admin_main///////////////*/
/*//////////////////////////////////////*/

.btn-group .btn.active {
    color: white;
    border: none;
    background-color: rgb(255, 141, 110);
}

.btn-group .btn:hover {
    color: white;
    border: none;
    background-color: rgb(255, 141, 110);
}
.btn-group .btn {
    border-radius: 15px;
    font-weight: 700;
    background-color: white;
    font-size: large;
    border: none;
    color: #343a40;

}

.main-card-top-1 {
    border: 3px solid rgb(255, 141, 110);
    border-radius: 25px;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-card-top-1 .card-header {
    border:none;
    border-radius: 30px 30px 0 0;
    height: 15%;
    background-color: white;
    font-weight: 700;
}

.main-card-top-1 .card-body {
    height: 60%;
}

.main-card-top-1 .card-footer{
    border: none;
    height: 20%;
    background-color: white;
    border-radius: 25px;
    color: #343a40;
}

.main-card-top-2 {
    border: none;
    height: 40px;
}


.main-card-bottom-1 {
    border: 3px solid rgb(255, 141, 110);
    background-color: #343a40;
    border-radius: 25px;
    height: 378px;
}

.main-card-bottom-1 .card-header {
    border-radius: 25px;
    background-color: #343a40;
    color: white;
    font-weight: 700;
    border: none;
}

.main-card-bottom-2 {
    width: 100%;
    border-radius: 25px;
    background-color: #343a40;
    border: none;
    text-align: center;
}

.main-card-bottom-3 {
    width: 100%;
    border: none;
    background-color: #343a40;
    color: white;
    border-radius: 10px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);

}

.main-card-bottom-4 {
    background-color: #424b54;
    color: white;
    border-radius: 10px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

.main-card-bottom-5 {
    width: 240px;
    height: 300px;
    border: 2px solid rgb(255, 141, 110);
    border-radius: 15px;
    background-color: #424b54;
    margin-left: auto;
    margin-right: auto;
}

.main-card-bottom-5 .card-header {
    border-radius: 12px;
    background-color: #424b54;
}

.carousel-card {
    border: none;
    background-color: #343a40;
}

.tooltip .tooltip-inner {
    max-width: 300px;
    text-align: left;
    line-height: 1.5;
}

.custom-tooltip-color {
    color: rgb(255, 141, 110);
}

h2 .h2 {
    color: #343a40;
    font-weight: 700;
}

.card-body.bottom-card {
    /*border-color: rgb(255, 141, 110);*/
    border: none;
    /*border-width: 2px;*/
    background-color: rgb(255, 202, 189);
}

.chart-container-top {
    height: auto; /* 또는 특정 높이, 예: 220px; */
    aspect-ratio: 12 / 5; /* 차트 비율 조정, 필요에 따라 수정 */
}



/*//////////////////////////////////*/
/*/////////////navbar///////////////*/
/*//////////////////////////////////*/

.nav {
    background-color: #343a40;
}

.navbar {
    border-bottom: 1px solid rgb(255, 141, 110);
}

.nav-link:hover {
    color: rgb(255, 141, 110);
}

.navbar-brand {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(
            180deg,
            #ffffff,
            rgb(252, 157, 131) 33%,
            rgb(255, 141, 110) 45%,
            rgb(255, 123, 87) 50%,
            rgb(255, 211, 198) 66%,
            rgb(255, 123, 87) 80%,
            rgb(255, 141, 110)
    );
    font-weight: 900;
    background-size: 100% 360%;
    background-position-y: 0%;
    animation: gradient 3s ease-in-out forwards;
}

.navbar-brand:hover {
    animation: gradient-hover 1s ease-in-out forwards;
}

@keyframes gradient {
    from {
        background-position-y: 0%;
    }
    to {
        background-position-y: 100%;
    }
}

@keyframes gradient-hover {
    from {
        background-position-y: 100%;
    }
    to {
        background-position-y: 0%;
    }
}