@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(images/back.jpg);
  background-position: center;
  background-size: cover;
}
.profile-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  height: 800px;
  width: 100%;
  border-radius: 25px;
  padding: 30px;
  border: 1px solid #ffffff40;
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);
  background-color: linen;
}
.image{
  position: relative;
  height: 150px;
  width: 150px;
}
.image .profile-pic{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}
.data{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  height: 50%; /* 부모 요소의 전체 높이를 차지하도록 설정 */

}
.row{
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.row .info{
  text-align: center;
  padding: 0 20px;
}
.buttons{
  display: flex;
  align-items: center;
}
.buttons .btn{
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  padding: 8px 25px;
  border-radius: 25px;
  font-size: 18px;
  white-space: nowrap;
  background: linear-gradient(to left, #33ccff 0%, #ff99cc 100%);
}

.buttons .btn:hover{
  box-shadow: inset 0 5px 20px rgba(0,0,0,0.4);
}


#loadingbar
#back{    
	position: fixed;    
    z-index: 5;    
    background-color: rgba(0, 0, 0, 0.3);    
    display: none;    
    left: 0;    
    top: 0;    
    width: 30%;    
    height: 30%;    
    overflow: hidden; /* 스크롤바가 나타나지 않도록 */  
}   
#loadingBar{    
	position: fixed;    
    top: 50%;    
    left: 50%;    
    transform: translate(-50%, -50%);    
    padding: 20px;    
    background-color: white;    
    display: none;    
    z-index: 200;    
 }

#loadingBar img {
    width: 500px;
    height: auto;
}

@media (max-width: 768px) {
  .profile-card {
    height: 90%; /* 변경된 부분: 화면 크기가 작을 때 높이를 더 적게 설정 */
  }

  .buttons {
    margin-top: 10px; /* 변경된 부분: 버튼들 간의 간격 조정 */
  }
  
   .chatbot {
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }
  .chatbot .chatbox {
    height: 90%;
    padding: 25px 15px 100px;
  }
    .chatbot .chat-input {
    padding: 5px 15px;
  }
  .chatbot header span {
    display: block;
  }

}