<html layout:decorate="~{/admin/layout}">
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function () {
            // Controller에서 넘어온 model 값을 읽을 수 있게 미리 id = chart를 불러온다.
            // var chartDataElement1 = document.getElementById('chart1');
            // var chartDataElement2 = document.getElementById('chart2');

            // js파일 세팅
            var script = document.createElement('script');
            script.src = "/js/chart.js";
            document.body.appendChild(script);
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var button = document.querySelector('#exampleButton');
            var tooltip = new bootstrap.Tooltip(button, {
                title: function () {
                    return '이 데이터는 <u>AI 기술</u>을 이용해<br>설문 응답자의 진실성을 평가하며,<br>불성실한 답변자를 걸러내고<br><b class="custom-tooltip-color">더욱 신뢰할 수 있는 결과를 비교</b>해 제공합니다.';
                },
                html: true
            });

            button.addEventListener('mouseenter', function () {
                tooltip.show();
            });
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            var myCarousel = document.querySelector('#carouselExampleIndicators');
            var carousel = new bootstrap.Carousel(myCarousel, {
                interval: false  // 자동 슬라이드 기능 비활성화
            });
        });
    </script>

    <script th:inline="javascript">
        $(document).ready(function () {

            $(".btn-group .btn").click(function () {
                $(this).siblings().removeClass('active');
                $(this).addClass('active');
            });

            $(".actionButton").click(function () {
                let buttonValue = this.value;
                let url = "/admin/main/" + buttonValue;

                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function (response) {
                        $("#mainCard").replaceWith(response);
                        chart1(buttonValue);
                        chart2(buttonValue);
                    }
                });
            });
        });
    </script>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row" style="height: 70%;">
            <div class="col-6">
                <div class="row row-2">
                    <div class="p-4">
                        <div class="d-flex justify-content-center">
                            <div class="btn-group shadow-sm" role="group">
                                <input type="button" value="Today" class="btn actionButton active">
                                <input type="button" value="Week" class="btn actionButton">
                                <input type="button" value="Month" class="btn actionButton">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-3" id="mainCard">
                    <div class="col-6 p-4">
                        <div class="card main-card-top-1">
                            <div class="card-header">방문수</div>
                            <div class="card-body">
                                    <canvas id="chart1" th:data-aaa-value='${visitStr}'></canvas>
                            </div>
                            <div class="card-footer">
                                <div id="visit" th:text="${visit}" class="h2"
                                     style="display: inline-block;  font-size: 29px;"></div>
                                <p th:if="${visit > visitBefore}" style="display: inline-block;
                                color:red; vertical-align: top;">▲[[${visit - visitBefore}]] </p>
                                <p th:if="${visit < visitBefore}" style="display: inline-block;
                                color:blue; vertical-align: top;">▼[[${visitBefore - visit}]]</p>
                                <th:block th:if="${visit == visitBefore}">
                                </th:block>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 p-4">
                        <div class="card main-card-top-1">
                            <div class="card-header">제출수</div>
                            <div class="card-body">
                                    <canvas id="chart2" th:data-aaa-value='${submitStr}'></canvas>
                            </div>
                            <div class="card-footer">
                                <div class="h2" th:text="${submit}"
                                     style="display: inline-block; font-size: 29px;"></div>
                                <p th:if="${submit > submitBefore}" style="display: inline-block;
                                color:red; vertical-align: top;">▲[[${submit - submitBefore}]]</p>
                                <p th:if="${submit < submitBefore}" style="display: inline-block;
                                color:blue; vertical-align: top;">▼[[${submitBefore - submit}]]</p>
                                <th:block th:if="${submit == submitBefore}">
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row row-2">
                    <div class="p-4">
                        <div class="d-flex justify-content-center">
                            <div class="btn-group shadow-sm" role="group">
                                <input type="button" value="Total" class="btn active">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-3">
                    <div class="col-6 p-4">
                        <div class="card main-card-top-1">
                            <div class="card-header">성별 분포</div>
                            <div class="card-body rounded-bottom" style="height: 90%; width: 100%;">
                                <div class="card-body" style="height: 100%; width: 100%;">
                                <canvas id="chart3" th:data-aaa-value='${genderRatio}'></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 p-4">
                        <div class="card main-card-top-1">
                            <div class="card-header">연령 분포</div>
                            <div class="card-body rounded-bottom" style="height: 90%; width: 100%;">
                                    <canvas id="chart4" th:data-aaa-value='${age}'></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: -1%;">
            <div class="col-5 p-3">
                <div class="card main-card-bottom-1">
                    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                        <div>
                        <span>제출 내역</span>
                        <span style="color: #aaaaaa; margin-left: 10px; font-size: 14px;">최근 5개</span>
                        </div>
                        <div class="btn-group shadow-sm" role="group">
                                <a href="/admin/list" role="button" class="btn btn-sm active" style="width: 80px; font-size:small; color: white; text-decoration: none; margin-right: 1%;">전체 보기</a>
                        </div>

                    </div>
                    <div class="card-body main-card-bottom-2" style="margin-left: auto; margin-right: auto;">
                        <div class="card main-card-bottom-3 p-1">
                            <div class="row" style="font-weight: 900;">
                                <span class="col-2">성별</span>
                                <span class="col-2">나이</span>
                                <span class="col-4">일자</span>
                                <span class="col-4">상태</span>
                            </div>
                        </div>


                        <div th:each="answer, loop : ${answerList}" class="card main-card-bottom-4 p-1 mt-2 list-item">
                            <div class="row my-1" style="font-weight: 800;">
                                <span class="col-2" th:if="${answer.gender == 1}">남성</span>
                                <span class="col-2" th:if="${answer.gender == 2}">여성</span>
                                <span class="col-2" th:text="${answer.age}"></span>
                                <span class="col-4"
                                      th:text="${#temporals.format(answer.createDate, 'yy.MM.dd')}"></span>
                                <a class="col-4" th:href="@{|/admin/detail/${answer.id}|}"
                                   th:if='${answer.evaluation == "1"}'
                                   style="color: rgb(255, 141, 110); font-weight: 500;">성실</a>
                                <a class="col-4" th:href="@{|/admin/detail/${answer.id}|}"
                                   th:if='${answer.evaluation == "2"}'
                                   style="color: #f21032; font-weight: 500;">불성실</a>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-7 p-3">
                <div class="card main-card-bottom-1">
                    <div class="card-header" style="text-align: center; display: inline-block">
                        <span style="vertical-align: middle; font-size: 1.2em;">AI 불성실 응답자 제거 후 비교 데이터 &nbsp</span>
                        <span class="badge rounded-pill bg-light text-dark"
                              style="padding: 0.25em 0.4em; vertical-align: middle; border: 2px solid rgb(255, 141, 110);"
                              id="exampleButton" data-bs-toggle="tooltip" data-bs-placement="bottom">
                            <i class="fa-solid fa-question"></i>
                        </span>
                    </div>

                    <div class="card-body main-card-bottom-2" style="height: 80%">
                        <div id="carouselExampleIndicators" class="carousel slide" style="height: 100%">
                            <div class="carousel-indicators" style="bottom: -20px;">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                        class="active" aria-current="true" aria-label="Slide 1" style="background-color: rgb(255, 141, 110)"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                        aria-label="Slide 2" style="background-color: rgb(255, 141, 110)"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                        aria-label="Slide 3" style="background-color: rgb(255, 141, 110)"></button>
                            </div>
                            <div class="carousel-inner" style="height: 100%; display: flex;">
                                <div class="carousel-item active" style="height: 100%;">
                                    <div class="row" style="height: 90%; width: 100%; margin-left: 3%;">

                                        <div class="col-7 chart-container"
                                             style="border-right: 2px solid rgb(255, 141, 110); height: 100%">
                                            <canvas id="chart5"
                                                    th:data-aaa-value='${avgBefore}' th:data-bbb-value="${avgAfter}"></canvas>
                                        </div>
                                        <div class="col-5 chart-container" style="height: 100%">
                                            <canvas id="chart6" th:data-aaa-value='${ageAvg}'></canvas>
                                        </div>

                                    </div>
                                </div>
                                <div class="carousel-item" style="height: 100%;">
                                    <div class="row" style="height: 90%; width: 100%; margin-left: 3%;">

                                        <div class="col-7 chart-container"
                                             style="border-right: 2px solid rgb(255, 141, 110); height: 100%">
                                            <canvas id="chart7"
                                                    th:data-aaa-value='${avgBefore}' th:data-bbb-value="${avgAfter}"></canvas>
                                        </div>
                                        <div class="col-5 chart-container" style="height: 100%">
                                            <canvas id="chart8" th:data-aaa-value='${ageAvg}'></canvas>
                                        </div>

                                    </div>
                                </div>
                                <div class="carousel-item" style="height: 100%;">
                                    <div class="row" style="height: 90%; width: 100%; margin-left: 3%;">

                                        <div class="col-7 chart-container"
                                             style="border-right: 2px solid rgb(255, 141, 110); height: 100%">
                                            <canvas id="chart9"
                                                    th:data-aaa-value='${avgBefore}' th:data-bbb-value="${avgAfter}"></canvas>
                                        </div>
                                        <div class="col-5 chart-container" style="height: 100%">
                                            <canvas id="chart10" th:data-aaa-value='${ageAvg}'></canvas>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>
                        <button class="carousel-control-prev" style="left: -45px;" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color:rgb(255, 141, 110);"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" style="right: -45px;" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true" style="background-color:rgb(255, 141, 110);"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

</div>


</body>


</html>
